<div class="container" ng-controller="MainCtrl">

<div class="box">
    <div class="title">Lorem Ipsum <i class="pull-right fa fa-cog fa-spin"></i></div>
    <div class="content">Lorem ipsum dolor sit amet, consectetur
         adipisicing elit, sed do eiusmod tempor incididunt ut
         labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip
          ex ea commodo consequat. Duis aute irure dolor in
 reprehenderit in voluptate velit esse cillum dolore eu
 fugiat nulla pariatur. Excepteur sint occaecat cupidatat
 non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
</div>

<div class="row">
  <div class="col-sm-4 section"><h3><i class="fa fa-plane fa-4x"></i><br>Plane</h3><div class="content">Really fast and offers nice landscapes, it might sometimes crash though</div></div>
  <div class="col-sm-4 section"><h3><i class="fa fa-truck fa-4x"></i><br>Truc</h3><div class="content"> fast and offers nice landscapes, it might sometimes crash though</div></div>
  <div class="col-sm-4 section"><h3><i class="fa fa-users fa-4x"></i><br>Crowd</h3><div class="content">Really fast and offers nice landscapes, it might sometimes crash though</div></div>
</div>

<div class="background"></div>

</div>
